<div class="d-flex navMenuTemplate">
    <div></div>
    <img id="joinLogo" class="joinLogo" src="assets/images/JoinLogo.svg" alt="">
    <div>
        <img id="summaryBtn" src="assets/images/Summary.svg" alt="">
        <img id="addTaskBtn" src="assets/images/Add Task.svg" alt="">
        <img id="boardBtn" src="assets/images/Board.svg" alt="">
        <img id="contactsBtn" src="assets/images/Contacts.svg" alt="">
    </div>
    <div class="d-flex colum footerLinks">
        <a class="textDecNone font" href="">Privacy Policy</a>
        <a class="textDecNone font" href="">Legal notice</a>
    </div>

</div>