.addTaskInputMain {
    width: 440px;
    height: 376px;
    top: 327px;
    left: 328px;
    gap: 16px;
    margin-right: 40px;
}

.defineTaskExp {
    width: 440px;
    height: 416px;
    top: 327px;
    left: 864.25px;
    gap: 24px;
}

.inputTitle {
    border-radius: 5px;
    border: solid 0.5px lightgray;
    height: 48px;
    width: 420px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
}

.inputTitle:hover{
    cursor: pointer;
}

.taskTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}

.taskDesc {
    width: 420px;
    height: 168px;
    gap: 8px;
    border-radius: 5px;
    border: solid 0.5px lightgray;
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
}

.taskContent {
    margin-top: 63px;
    height: 450px;

}

.selectOp {
    border-radius: 5px;
    border: solid 0.5px lightgray;
    height: 48px;
    width: 440px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
}

.selectOp:hover{
    cursor: pointer;
}

.line {
    height: 100%;
    width: 1px;
    background-color: lightgray;
    margin-right: 40px;
    margin-left: 40px;
}

.prio {
    width: 136px;
    height: 56px;
    background-color: white;
    border-radius: 5px;
    border: solid 0.5px lightgray;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.prio:hover{
    cursor: pointer;
}

.prioDiv {
    justify-content: space-between;
}

.plusIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.plusIcon:hover{
    cursor: pointer;
}

.posAbso {
    position: absolute;
    right: 10px;
}

.clearCreateBtnDiv {
    justify-content: flex-end;
    margin-top: 80px;
    gap: 10px;
}

.createBtn {
    width: 183px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.clearBtn {
    width: 183px;
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    border: solid 1px #2A3647;
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

}