.addContactsBtn {
    width: 352px;
    height: 56px;
    top: 22.5px;
    left: 52px;
    padding: 12px, 0px, 12px, 0px;
    border-radius: 10px;
    border: 1px;
    gap: 16px;
    background-color: #2A3647;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.addContactsBtn:hover{
    cursor: pointer;
}
.sidebar {
    width: 400px;
    padding: 32px, 24px, 32px, 24px;
    overflow-y: scroll;
    align-items: center;
    border: solid transparent;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.sidbarPos {
    position: fixed;
    top: 97px;
    left: 232px;
    z-index: 1;
    height: 100%;
}

.contactsMainDiv {
    position: fixed;
    top: 97px;
    left: 232px;
    z-index: 1;
    height: 100%;
    width: 100vh;
}

.contactsTitle {
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
}

.contactsHline {
    height: 80%;
    width: 3px;
    background-color: #29ABE2;
}

.contactsTitleDiv {
    width: 569px;
    height: 73px;
    top: 206px;
    left: 743px;
    gap: 30px;
}

.contactsSlogan {
    white-space: nowrap;
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}